http://YOUR_DOMAIN_NAME {
    redir https://YOUR_DOMAIN_NAME{url}
}

YOUR_DOMAIN_NAME:443 {
    log /usr/src/caddy.log
}

:8080 {
    root /usr/src/trojan
    log /usr/src/caddy.log
    index index.html
}
