http://YOUR_DOMAIN.com {
    redir https://YOUR_DOMAIN.com{url}
}

YOUR_DOMAIN.com:443 {
    log /usr/src/caddy.log
}

:8080 {
    root /usr/src/trojan
    log /usr/src/caddy.log
    index index.html
}
